/* Import Bootstrap SCSS files */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

/* Import custom font */
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

/* Sidebar Styles */
.sidebar {
	background: #D9D9D9;
	font-family: 'SF Pro Display';
	min-width: 300px;
}

/* Sidebar Title Styles */
.sidebar-title {
	font-family: 'SF Pro Display', sans-serif;
	font-weight: bold;
	font-size: 62px;
	color: #1C1D22;
}

/* Top Bar Styles */
.top-bar {
	background-color: #000000;
	height: 10px;
	width: 100%;
}

/* Search Styles */
#search input[type="text"] {
	background: url(search-dark.png) no-repeat 10px 6px #444;
	border: 0 none;
	font-family: 'SF Pro Display', sans-serif;
	font-size: 14px;
	color: #777;
	width: 200px;
	padding: 6px 15px 6px 35px;
	border-radius: 20px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
	width: 230px;
}

/* Heading Styles */
h2 {
	color: #aaa;
	font-size: 30px;
	line-height: 40px;
	font-style: italic;
	font-weight: 200;
	margin: 40px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

/* Box Styles */
.box {
	background: #D9D9D9;
	border-radius: 2px;
	margin: 30px 5%;
	padding: 5%;
}

@media (min-width: 544px) {
	.box {
		margin: 40px auto;
		max-width: 440px;
	}
}

/* Directory List Styles */
.directory-list ul {
	margin-left: 10px;
	padding-left: 20px;
	border-left: 1px dashed #ddd;
}

.directory-list li {
	list-style: none;
	color: #1C1D22;
	font-family: 'SF Pro Display', sans-serif;
	font-size: 17px;
	font-style: italic;
	font-weight: normal;
}

.directory-list a {
	border-bottom: 1px solid transparent;
	color: #888;
	text-decoration: none;
	transition: all 0.2s ease;
}

.directory-list a:hover {
	border-color: #eee;
	color: #000;
}

.directory-list .folder,
.directory-list .folder > a {
	color: #777;
	font-weight: bold;
}

/* Directory Icons Styles */
.directory-list li:before {
	margin-right: 10px;
	content: "";
	height: 20px;
	vertical-align: middle;
	width: 20px;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url("Blank-black-folder.png"); /* Default file icon */
	background-position: center 2px;
	background-size: 60% auto;
}

.directory-list li.folder:before {
	background-image: url("#"); /* Folder icon if folder class is specified */
	background-position: center top;
	background-size: 75% auto;
}

.directory-list ul {
	display: none; /* Hide sub-folders by default */
}

.directory-list ul.visible {
	display: block; /* Show sub-folders when 'visible' class is present */
}
