body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e2d2d;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
}

.links {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.links li {
    margin-right: 20px;
}

.links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.links a:hover {
    color: #787a7a;
}







footer {
    background-color: #2e2d2d;
    color: #fff;
    padding: 2px 0;
    display: flex;
    position: absolute;
    
    bottom: 0;
    width: 100%;
}

.language_selector_change {
    display: inline-block;
    margin-left: 5%;
    margin-right: 10%;
    color: #fff;
}

.link_project_github {
    display: inline-block;
    margin-right: 10%;
    color: #fff;
}

label {
    margin-right: 5px;
}

select {
    padding: 5px;
}

/* Styles pour le lien GitHub */
footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #787a7a;
}




/* ne pas oublier le responsive  */